<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.akid.androidexperiment">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".program.program5.SubActivity2"
            android:parentActivityName=".program.Program5"></activity>
        <activity android:name=".program.program5.SubActivity1" android:parentActivityName=".program.Program5" />
        <activity
            android:name=".program.program5.IntentDemo"
            android:parentActivityName=".program.Program5" />
        <activity
            android:name=".program.program4.TabDemo"
            android:parentActivityName=".program.Program4" />
        <activity
            android:name=".program.program4.MyContextMenu"
            android:parentActivityName=".program.Program4" />
        <activity
            android:name=".program.Program6"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".program.Program5"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".program.Program4"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name=".program.service.MyBroadcastReceiver">
        </receiver>
        <service android:name=".program.service.RandomService"></service>
        <service android:name=".program.service.RandomService2"></service>
    </application>

</manifest>